@model Assessment_dtic.Models.Appointment

@{
 
    var minDate = DateTime.Now.ToString("yyyy-MM-dd");
}
<h2>Create Appointment</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="PatientId" class="form-label">Patient</label>
        <select asp-for="PatientId" asp-items="ViewBag.PatientOptions" class="form-select"></select>
        <span asp-validation-for="PatientId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AppointmentDateTime" class="form-label">Appointment Date</label>
        <input asp-for="AppointmentDateTime" type="date" class="form-control shadow-sm border rounded" min="@minDate" />
        <span asp-validation-for="AppointmentDateTime" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AppointmentTimeSlot" class="form-label">Appointment Time Slot</label>
        <select asp-for="AppointmentTimeSlot" asp-items="ViewBag.TimeSlotOptions" class="form-select"></select>
        <span asp-validation-for="AppointmentTimeSlot" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="AppointmentType" class="form-label">Appointment Type</label>
        <select asp-for="AppointmentType" asp-items="ViewBag.TypeOptions" class="form-select"></select>
        <span asp-validation-for="AppointmentType" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@if (!ViewData.ModelState.IsValid)
{
    foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Validation Error',
                text: '@error.ErrorMessage'
            });
        </script>
    }
}
